# Environnement virtuel
.venv/

# Fichiers Python compilés
__pycache__/
*.pyc

# Fichiers de configuration locaux
.env

# Logs
*.log

# Fichiers système
.DS_Store
Thumbs.db

# PyCharm
.idea/
*.iml
*.iws
*.ipr

# Fichiers de cache Python
.pytest_cache/
.mypy_cache/

# Autres
*.bak
*.swp
*.swo